<div class="container-sobre">
    <h1>Equipe Tags</h1>

    <p>
        Talento vence jogos, mas trabalho em equipe e comprometimento ganham campeonatos.
    </p>

    <article>
        <ul class="integrantes">
            <li>
            
                    <img src="./assets/images/gi.jpg" alt="Giselle" class="membros">
                    <h3>Giselle </h3>
                    <h4>Front End</h4>
                    <a href="#">
                        <img class="linkedin" src="./assets/images/linkedin.svg">
                    </a>
            </li>

            

            <li>
                
                    <img src="./assets/images/mariana.jpg" alt="Mariana" class="membros">
                    <h3>Mariana</h3>
                    <h4>Front End</h4>
                    <a href="#">
                        <img class="linkedin" src="./assets/images/linkedin.svg">
                    </a>
        
            </li>

            <li>
                
                    <img src="./assets/images/tiago.jpg" alt="Tiago" class="membros">
                    <h3>Tiago</h3>
                    <h4>Front End</h4>
                    <a href="#">
                        <img class="linkedin" src="./assets/images/linkedin.svg">
                    </a>
            
            </li>
        </ul>
    </article>	
</div>
